<!--
  Generated template for the FormExcursaoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Excursão</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="form" (ngSubmit)="save()">
    <ion-input type="hidden" formControlName="id" name="id"></ion-input>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>Título</ion-label>
            <ion-input type="text" formControlName="titulo" name="titulo"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>Chegada</ion-label>
            <ion-datetime displayFormat="DD/MM/YYYY HH:mm" formControlName="chegada" name="chegada"></ion-datetime>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label>Início</ion-label>
            <ion-datetime displayFormat="DD/MM/YYYY HH:mm" formControlName="inicio" name="inicio"></ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>Encerramento</ion-label>
            <ion-datetime displayFormat="DD/MM/YYYY HH:mm" formControlName="encerramento" name="encerramento"></ion-datetime>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label>Previsão Retorno</ion-label>
            <ion-datetime displayFormat="DD/MM/YYYY HH:mm" formControlName="previsao_retorno" name="previsao_retorno"></ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>Categoria</ion-label>
            <ion-select name="categoria" formControlName="categoria_id">
              <ion-option *ngFor="let categoria of categorias" value="{{ categoria.id }}">{{ categoria.nome }}</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>Destino</ion-label>
            <ion-select name="destino" formControlName="destino_id">
              <ion-option value="1">Destino</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
            <!--ion-label>Título</ion-label-->
            <ion-input type="hidden" value="1" formControlName="usuario_id" name="usuario"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <button ion-button block [disabled]="!form.valid">{{ insert ? 'Cadastrar' : 'Atualizar' }}</button>
        </ion-col>
      </ion-row>

    </ion-grid>
  </form>
</ion-content>
