c
<!--
  Generated template for the FormCondicaoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>form-condicao</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="form" (ngSubmit)="save()">
    <ion-input type="hidden" formControlName="id" name="id"></ion-input>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>Condição</ion-label>
            <ion-textarea formControlName="condicao" name="condicao" placeholder=""></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <!--ion-label>Título</ion-label-->
          <ion-input type="hidden" value="1" formControlName="usuario_id" name="usuario"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <button ion-button block [disabled]="!form.valid">{{ insert ? 'Cadastrar' : 'Atualizar' }}</button>
        </ion-col>
      </ion-row>

    </ion-grid>
  </form>
</ion-content>