
<ion-header>

  <ion-navbar>
    <ion-title>Login</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form>
    <ion-list>
      <h3>Bem vindo ao Marketplace Viagens</h3>
      <ion-item>
        <ion-input type="text" placeholder="Usuário"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input type="password" placeholder="Senha"></ion-input>
      </ion-item>
      <button ion-button full>Entrar</button>
      <p>
        Não possui cadastro? Cadastre-se <a href="#">aqui</a>
      </p>
    </ion-list>
  </form>
</ion-content>
